body {
  background-color: #CCD6A6;
}

hr {
  border-style: none;
  border-top: dotted;
  width: 10%;
}
h1 {
  color: #009DAE;
}

h2 {
  color: #71DFE7;
}

h3 {
  color: #73A9AD;
}
